@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

@theme {
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --color-primary-custom: #ff5252;
  --background-primary-custom: #ff5252;
  --color-gray-250: #d4d4d4;
  --border-color-gray-250: var(--color-gray-250);
}

@layer base {
  body {
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.searchBox input::placeholder {
  color: #1f1f1f !important;
}

.slider-home {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}

.product-slider {
  overflow: inherit !important;
}

.product-slider .swiper-button-prev,
.product-slider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.product-slider .swiper-button-prev::after,
.product-slider .swiper-button-next::after {
  font-size: 16px !important;
}

.product-slider .swiper-button-prev {
  left: -10px !important;
}
.product-slider .swiper-button-next {
  right: -10px !important;
}

.product-slider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-slider .swiper-button-prev:hover,
.product-slider .swiper-button-next:hover {
  background-color: #ff5252 !important;
}

.product-slider .swiper-button-prev:hover::after,
.product-slider .swiper-button-next:hover::after {
  color: #fff !important;
}

.product-slider .item:hover img {
  transform: scale(1.1);
}

.banner-slider .swiper-button-prev,
.banner-slider .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.banner-slider .swiper-button-prev::after,
.banner-slider .swiper-button-next::after {
  font-size: 18px !important;
}
