@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

@theme {
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --color-primary-custom: #ff5252;
  --background-primary-custom: #ff5252;
  --color-gray-250: #d4d4d4;
  --border-color-gray-250: var(--color-gray-250);
}

@layer base {
  body {
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.7);
  }
}

.searchBox input::placeholder {
  color: #1f1f1f !important;
}


